@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    box-sizing: border-box;
}
html,body, .wrapper{
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("low-poly-grid-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Ubuntu";
    color: #000;
    animation: rotate 6s infinite alternate linear;
}
.login-card{
    background: #ebebeb;
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    text-align: center;
}
.login-card >h2{
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}
.login-card >h3{
    color: rgba(0, 0, 0, 0.38);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
}
.login-from{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}
.login-from >input , .login-from >button{
    width: 100%;
    height: 50px;
}
.login-from > input{
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    transition: all 0.375s;
    border-radius: 1.25rem;

}
.login-from >input :hover{
    border: 2px solid #10449A;
}
.login-from >button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background:#216ce7 ;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}
.login-from >button :hover{
    background: #10449A;
}
.login-from a{
    color: #216ce7;
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
}
.login-from> a:hover{
    color: #10449A;
}
@keyframes rotate{
    100%{
        background-position: 15% 50%;
    }
}
@media(width >= 500px){
    body{
        padding:0;
    }
    .login-card{
        margin: 0;
        width: 400px;
    }
}